.contentAddCourseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #114054;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2),
  -5px -5px 20px rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 20px;
  height: 60%;
  min-height: 500px;
}
.row{
  width: 100%;
}
.contentAddCourseContainer h1{
  color: #e8e9ea;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e9ea;
}

.addInput-form {
  border: 2px solid #114054;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.addInput-form label {
  color: #e8e9ea;
  font-size: 20px;
  margin-top: 10px;
}

.addInput-form input[type="text"],
.addInput-form input[type="file"] {
  background-color: #e8e9ea;
  outline: none;
  border: 0;
  border-radius: 7px;
  padding: 10px;
  margin-top: 5px;
  width:100%;
  transition: 0.4s ease-in-out;
}

.addInput-form input[type="text"]:focus{
  transform: scale(1.02);
  box-shadow: 2px 5px 5px 5px #25252577;
}

.addInput-form .inputFileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.addInput-form .inputFileWrapper input {
  padding: 6px;
}

.addSubmit-btn {
  cursor: pointer;
  width: 250px;
  height: 60px;
  border-radius: 14px;
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: #114054;
  color: #e8e9ea;
}

.addUploadFiles img {
  cursor: pointer;
  width: 80px;
  aspect-ratio: 16/9;
  object-fit: contain;
}
@media only screen and (max-width: 992px){
  .contentAddCourseContainer{
    height: auto;
  }

 .contentAddCourseContainer .row{
    --bs-gutter-x:0;
  }
}

@media only screen and (max-width: 576px){
  .addInput-form input::placeholder {
    font-size: 14px !important; 
  }

  .addSubmit-btn {
    width: 150px;
    padding: 10px 5px;
  }
}