.addContainer {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addInput-form {
  background-color: rgba(46, 109, 124, 0.4);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2),
    -5px -5px 20px rgba(255, 255, 255, 0.5);
  border: 2px solid #114054;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 45%;
}

.addInput-form label {
  color: #0b2d3c;
  margin-top: 10px;
}

.addInput-form input[type="text"] {
  background-color: #e8e9ea;
  outline: none;
  border: 0;
  border-radius: 7px;
  padding: 10px;
  margin-top: 5px;
  width: 45%;
}

.addInput-form input[type="file"] {
  display: none;
}

.addSubmit-btn {
  cursor: pointer;
  padding: 8px;
  border: 0;
  border-radius: 14px;
  margin-top: 20px;
  margin-bottom: 5px;

  width: 20%;
  background-color: #114054;
  color: #e8e9ea;
  font-weight: bold;
  font-size: small;
}

.addUploadFiles img {
  width: 80px;
  aspect-ratio: 16/9;
  object-fit: contain;
}
