.changePasswordInput {
  background-color: #edebeb;
  color: #114054;
  outline: none;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.changePasswordInput:focus {
  outline-style: solid;
  outline-color: rgba(46, 109, 124, 0.4);
}

.inputError {
  outline-style: solid;
  outline-color: rgba(255, 0, 0, 0.671);
}

.inputError::placeholder {
  color: rgba(255, 0, 0, 0.671);
}

.inputError:focus {
  outline-color: rgb(255, 0, 0);
}

.ChangePasswordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 65vh;
}

.changePassForm {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  gap: 10px;
}

.changePassForm label {
  color: #2e6d7c;
  font-weight: bold;
}

.changePassForm input[type="submit"] {
  background-color: #2e6d7c;
  transition: 0.2s ease-out;
  color: #fff;
  padding: 10px 15px;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.changePassForm input[type="submit"]:hover {
  background-color: #2da0bd;
  transition: 0.2s ease-out;
}

.changePassForm input[type="submit"]:disabled {
  background-color: #dddddd; /* Light gray */
  color: #666666; /* Dark gray */
  cursor: not-allowed;
  visibility: hidden;
}

.labelVerPass {
  display: none;
  margin-left: 2px;
  font-size: 14px;
}

.labelError {
  display: block;
  color: red;
}

.submitError {
  background-color: red !important;
  transition: 0.2s ease-out;
}
