.viewTypeInnerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.contentViewTypeContainer {
  background-color: rgba(46, 109, 124, 0.4);
  border-radius: 10px;
}

.contentViewTypeContainer .mainViewTypeContent {
  width: 70vw;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6e4e4;
  border-radius: 10px;
  margin: 10px;
}

.contentViewTypeContainer .mainViewTypeContent .userFullName {
  margin-bottom: 0;
}

.userData img {
  width: 50px;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.mainViewTypeContent .userData {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.expandMore {
  width: 50px;
  aspect-ratio: 16/9;
  object-fit: contain;
  cursor: pointer;
}

.rotate180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.rotate180.init {
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
}

.expandedContent a:link,
.expandedContent a:visited {
  color: #2e6d7c;
}

.expandedContent {
  width: 55vw;
  height: 7vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: #e6e4e4;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.expandedContent .fa-regular,
.expandedContent .fa-solid {
  align-self: center;
}

.expandedContent .btn {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.expandedContent .btn p {
  margin: auto;
  display: flex;
  gap: 5px;
}

.showed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addStud:hover {
  background-color: #2da0bd !important;
}

.expandedContent .btn-outline-primary {
  border-color: #114054;
  color: #114054;
}

.expandedContent .btn-outline-primary:hover,
.expandedContent .btn-outline-primary:focus {
  background-color: #114054;
  color: white;
}

@media only screen and (max-width: 700px) {
  .expandedContent.allCourses .btn span:last-child {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .expandedContent.allStudents .btn span:last-child,
  .expandedContent.allTeachers .btn span:last-child {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .expandedContent.allStudents .btn,
  .expandedContent.allTeachers .btn {
    gap: unset;
    padding: 10px;
  }

  .expandedContent.allStudents .btn span,
  .expandedContent.allTeachers .btn span {
    display: none;
  }
}

@media only screen and (max-width: 460px) {
  .expandedContent.allCourses .btn {
    gap: unset;
    padding: 10px;
  }

  .expandedContent.allCourses .btn span {
    display: none;
  }
}
