* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html,
body {
  height: 100vh;
  display: flex;
  background-color: #e6e4e4 !important;
  flex-direction: column;
}

.header-text {
  color: #114054;
  font-weight: normal;
  margin-bottom: 3px;
  text-align: center;
}

.paginationNav .pagination .page-item .page-link {
  color: #114054;
}

.paginationImg {
  width: 38px;
  aspect-ratio: 16/9;
  object-fit: contain;
}

#prev .page-link,
#next .page-link {
  background-color: #0b2d3c;
}

.pagination .page-link.customActive {
  background-color: #2e6d7c !important;
  color: #fff !important;
}

.mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.btn.btn-primary {
  border: 0;
}
