* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  display: flex;
  background-color: #e6e4e4 !important;
  flex-direction: column;
}

.paginationNav .pagination .page-item .page-link {
  color: #114054;
}

.paginationImg {
  width: 38px;
  aspect-ratio: 16/9;
  object-fit: contain;
}

#prev .page-link,
#next .page-link {
  background-color: #0b2d3c;
}

.pagination .page-link.customActive {
  background-color: #2e6d7c !important;
  color: #fff !important;
}
