* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.headerStyle{
  font-size: 35px;
  line-height: 40px;
  color: #114054;
  text-align: center;
}

html,
body {
  height: 100%;
  display: flex;
  background-color: #e6e4e4 !important;
  flex-direction: column;
  scrollbar-gutter: stable !important;
  overflow: hidden !important;
}

.nav-and-main{
  height: 100%;
  min-height: 700px;
  position: relative;
}

/* a:visited{
  color: inherit;
} */

.paginationNav .pagination .page-item .page-link {
  color: #114054;
}

.paginationImg {
  width: 38px;
  aspect-ratio: 16/9;
  object-fit: contain;
}

#prev .page-link,
#next .page-link {
  background-color: #0b2d3c;
}

.pagination .page-link.customActive {
  background-color: #2e6d7c !important;
  color: #fff !important;
}

.mainContainer {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}

.btn.btn-primary {
  border: 0;
}


@media only screen and (max-width: 992px){
   .headerStyle{
    font-size: 30px;
    line-height: 35px;
   }
}