

.contentInfoInnerContainer {
  background-color: #e8e9ea;
  border: 2px solid #114054;
  border-radius: 14px;
  flex-direction: column;
  margin-inline: 10px 10px;
  padding: 50px;
  height: 100%;
  color: #114054;
}

.informationSwiper{
  width: 80%;
  padding: 0 25px;
}

.informationSwiper .swiper-slide{
  min-height: 400px;
}
.infoHeaders {
  color: #0b2d3c;
  text-decoration: underline;
  padding: 6px 0px;
  font-size: 22px;
  font-weight: bold;
}

.infoKeyFeatures {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  list-style: none;
}

.infoKeyFeatures li::before {
  content: "✓";
  margin-right: 15px;
  padding-left: 15px;
}

.contentInfoInnerContainer a:link,
.contentInfoInnerContainer a:visited {
  color: #2e6d7c;
}
 .informationNavWrapper img{
    width: 500px;
 }

 .informationNavWrapper{
  margin-top: 15px;
 }

 @media only screen and (max-width: 992px){
  .informationSwiper{
    width: 100%;
    padding: 0;
  }

  .contentInfoInnerContainer{
    padding: 40px 20px;
  }
 }
