* {
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
    margin: auto;
}

.container {
    border: solid 3px;
    border-color: #114054;
    border-radius: 25px;
    background-color: rgba(46, 109, 124, 0.4);
    box-shadow: 5px 5px 10px;
    height: 687px;
    width: 1117px;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

h1 {
    text-align: center;
    color: #114054;
}

.button-container {
    display: flex;
    position: absolute;
    bottom: 20px;
    gap: 100px;
}

.Buttons{
    padding: 8px;
    display: inline-block;
    text-align: center;
    border: none;
    background-color: #114054;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 150px;
}

table{
    overflow: auto;
}

.TRow{
    border-bottom: solid 3px #114054;
}

.CourseCol{
    background-color: #e8e9ea;
    border: none;
    color:#114054;
    width: 100%;
    text-align: center;
}

 .ENbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #114054;
    width: 50px;
    height: 35px;
 }

 .ENicons{
    max-width: 100%;
    max-height: 100%;
 }

 #editButton{
    border-right: solid 1px white;
 }

 #notesButton{
    border-left: solid 1px white;
 }

 .ENbuttons:hover{
    border: solid 2px white;
    cursor: pointer;
 }

 .Buttons:hover{
    background-color: #e6e4e4;
    cursor: pointer;
 }








