.navContainer {
  border-top: 2px solid #e8e9ea;
  display: flex;
  flex-direction: column;
  background-color: #114054;
  height: 100%;
  /* flex-basis: 25%; */
  white-space: nowrap;
  box-shadow: 10px 0 8px -5px rgb(128, 127, 127);
}


.navContainer nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainer nav ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.navContainer nav ul li {
  width: 100%;
  text-align: center;
  color: #e8e9ea;
  font-size: 1rem;
  border-bottom: 2px solid #e8e9ea;
  border-top: 2px solid #e8e9ea;
}
.navContainer nav ul li:hover {
  background-color: #e8e9ea;
  color: #114054;
  cursor: pointer;
}

.navContainer nav ul li a {
  color: inherit;
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  text-decoration: none;
}


.navContainer .controlPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-top: 1px solid #e8e9ea;
}

.controlPanel i {
  color: #e8e9ea;
  font-size: 20px;
  margin: 0 20px;
}

.copyrights {
  color: #e8e9ea;
  font-size: 12px;
  display: inherit;
  align-self: flex-end;
  margin-top: auto;
}

@media only screen and (max-width: 1199px) {
  .navContainer {
    /* opacity: 0; */
    transition: 0.5s ease-in-out;
    position: absolute;
    left: 0;
    z-index: 2;
    overflow: scroll;
    transform: translateX(-1000%);
  }

  .navContainerActive{
    flex-basis: 100%;
    opacity: 1;
    transition: 0.5s ease-in-out;
    transform: translateX(0);

  }

  .navContainer nav ul li a i {
    font-size: 25px;
  }

  .navActive {
    flex-basis: 100%;
  }

  .activateWidth {
    background-color: #2e6d7c;
  }
}

@media only screen and (max-width: 768px){
  .navContainer nav ul li a span {
    display: none;
  }

} 

