.mainScreenPortfolioContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.contentPortfolioContainer {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 150px;
}

.contentPortfolioContainer img {
  width: 18vh;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.contentPortfolioContainer .mainPortfolioContent {
  width: 25vh;
  height: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e6d7c;
  gap: 5px;
}

.mainPortfolioContent a:link,
.mainPortfolioContent a:visited {
  text-decoration: none;
  color: white;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
