.contentProfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(46, 109, 124, 0.4);
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  height: 80%;
  overflow: hidden;
}
.sectionOuterProfileContainer {
  display: flex;
  gap: 15px;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.sectionOuterProfileContainer .swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.sectionOuterProfileContainer .swiper-slide i{
  font-size: 100px;
  color: #114054;
}

.sectionOuterProfileContainer .title {
  color: #114054;
  font-weight: normal;
  text-align: center;
  text-decoration: underline;
}


.sectionProfileContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #e6e4e4;
  border-radius: 20px;
  padding-top: 20px;
  margin-top: 10px;
  width: 80%;
  height: 100%;
  color: #114054;
  margin: auto;
}

.contentProfileContainer img {
  width: 200px;
  aspect-ratio: 16/9;
  object-fit: contain;
  margin-bottom: 20px;
}

.sectionProfileContainer input[type="text"],
.sectionProfileContainer input[type="password"] {
  background-color: #edebeb;
  color: #114054;
  outline: none;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 1px;
  width: 95%;
  caret-color: #01b3ff;
}

.mainProfileContent {
  background-color: #edebeb;
  padding-left: 5px;
}

.mainProfileContent .wrapper input:empty {
  background-color: #edebeb;
  color: #114054;
  outline: none;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 1px;
  width: 95%;
  cursor: default;
}

.mainProfileContent.button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.mainProfileContent .button {
  width: 150px;
  padding: 15px 5px;
  border: 0;
  border-radius: 50px;
  margin-right: 10px;
  background-color: #114054;
  color: #e6e4e4;
  cursor: pointer;
}

.changeProfileButton {
  width: 150px;
  padding: 15px 5px;
  border: 0;
  border-radius: 50px;
  margin-bottom: 10px;
  background-color: #114054;
  color: #e6e4e4;
  cursor: pointer;
  align-self: center;
}

.sectionProfileContainer .button:disabled,
.sectionProfileContainer .changeProfileButton:disabled {
  background-color: #dddddd;
  color: #666666; 
  cursor: not-allowed;
  visibility: hidden;
}

@media only screen and (max-width: 992px){
  .contentProfileContainer{
    width: 100%;
    justify-content: start;
    padding: 40px 20px;
    height: 100%;
  }

  .sectionOuterProfileContainer{
    flex-direction: column;
  }
}


@media only screen and (max-width: 768px){
  .sectionOuterProfileContainer .swiper-slide i{
    font-size: 80px;
  }
  .contentProfileContainer{
    padding: 25px 10px;
  }

}