.header {
  width: 100%;
  height: 10%;
  display: flex;
  /* padding-right: 50px; */
  background-color: #2e6d7c;
  justify-content: space-between;
  align-items: center;
  color: #e8e9ea;
}

.header .logoContainer img {
  width: 8vw;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.logoContainer {
  display: flex;
  height: 100%;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.menuBtn {
  background-color: #2e6d7c;
  width: 10%;
  border: none;
  border-radius: 10px;
  display: none;
}

.menuBtn i {
  color: #e8e9ea;
}

.userInfo {
  padding-right: 50px;
}

.header span {
  margin-right: 5px;
}

.headerImg:hover{
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  transition: filter 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .header .logoContainer {
    justify-self: flex-start;
  }

  .header .logoContainer img {
    width: 15vw;
    aspect-ratio: 16/9;
    object-fit: contain;
  }

  .menuBtn {
    height: 100%;
    display: inline-block;
  }

  .userInfo i {
    display: none;
  }
}
