.header {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #114054;
  justify-content: space-between;
  align-items: center;
  color: #e8e9ea;
}

.header .logoContainer img {
  width: 140px;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.logoContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.menuBtnWrapper{
  height: 100%;
  overflow: hidden;
}

.menuBtn{
  width: 30px;
  height: 25px;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
}

.menuBtn::before{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 1px;
  content: "";
  background-color: #e8e9ea;
  transition: 0.4s ease-in-out;
}

.menuBtn::after{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #e8e9ea;
  transition: 0.4s ease-in-out;
}
.menuBtnActive::before{
  width: 100%;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.menuBtnActive::after{
  transform: translateY(-50%) rotate(45deg);
  top: 50%;

}

.menuBtn .menuLine{
  width: 75%;
  height: 1px;
  background-color: #e8e9ea;
  transition: 0.4s ease-in-out;
}

.menuBtn i {
  color: #e8e9ea;
}

.userInfo {
  padding-right: 50px;
}

.header span {
  margin-right: 5px;
}

.headerImg:hover{
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  transition: filter 0.2s ease-in-out;
}

.copyrights{
  margin-right: 5px;
}

@media only screen and (max-width: 1199px) {
  .header {
    justify-content: space-between;
  }

  .header .logoContainer {
    justify-self: flex-start;
  }

  .header .logoContainer img {
    width: 100px;
    aspect-ratio: 16/9;
    object-fit: contain;
  }

  .userInfo{
    padding-right: 0;
  }

  .userInfo .headerUserName{
    margin-right: 0;
  }
  .userInfo i {
    display: none;
  }
}
