.mainScreenViewCourseNotesContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.course-title {
    text-align: center;
    margin-bottom: 20px;
}

.course-title h1 {
    font-size: 35px;
    font-weight: lighter;
    color: #114054;
}

.Notes_central-div {
    width: 90%; 
    max-width: 700px;
    height: 400px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgba(46, 107, 122, 0.4);
    border-color: #114054;
    margin: 10px; 
    
}

.down-part{
    position: absolute;
    bottom: 0;
    width:700px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}



.Notesrectangle {
    background-color: #e8e9ea;
    display: flex;
    justify-content: center;
    margin-top: 15px; 
    width: 100%;
    height: 35px;
}

.chapterNotesTitle {
    width: fit-content;
    text-align: center;
    margin: auto;
    font-size: larger;
}

.Notesrectangle a:link,
.Notesrectangle a:visited {
    text-decoration: none;
    color: #000;
}


@media screen and (max-width: 500px) {
    .Notes_central-div {
        width: 90%;
        max-width: none;
    }
   
}