* {
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
    margin: auto;
}

.container {
    border: solid 3px;
    border-color: #114054;
    border-radius: 25px;
    background-color: rgba(46, 109, 124, 0.4);
    box-shadow: 5px 5px 10px;
    height: 687px;
    width: 1117px;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

.CoursesList {
    width: 100%;
    height: 100%;
    border: solid 2px black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CourseLine{
    display: flex;
    justify-content: center;
    width: 100%; 
    height: 50px;   
    background-color:#e8e9ea;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    border: solid 2px black;
}
  
h1 {
    text-align: center;
    color: #114054;
}

.button-container {
    display: flex;
    position: absolute;
    bottom: 100px;
    width: 80%;
    border: solid 2px black;
    
}

.Buttons{
    display: block;
    padding: 8px;
    text-align: center;
    border: none;
    background-color: #114054;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 150px;
    position: absolute;
}

.CourseName{
    font-size: larger;
    background-color: #e8e9ea;
    color:#114054;
    width: 95%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}

 .ENbuttons{
    width: 5%;
    height: 50px;
    border: solid 2px black;
 }

 .ENicons{
    width: 50px;
    height: 50px;
    object-fit: contain;
    background-color: #114054;
    border: solid 2px black;
 }

 .ENbuttons:hover{
    border: solid 2px white;
    cursor: pointer;
 }

 .Buttons:hover{
    background-color: #e6e4e4;
    cursor: pointer;
 }
 
 #RemoveB{
    right:0%;
 }








