.course-title {
  text-align: center;
}


.chapters_central-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  max-height: 600px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgba(46, 107, 122, 0.4);
  border-color: #114054;
  margin: 10px;
}

.Rectangles{
  width: 100%;
  height: 100%;
  gap: 25px;
}

.chapters_central-div .pagination{
  justify-content: center;
}

.chapterRectangle {
  background-color: #e8e9ea;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35px;
  transition: 0.4s ease-in-out;
}
.chapterRectangle:hover{
  box-shadow: 2px 4px 5px 5px #11405486;
  cursor: pointer;
}

.chapterTitle {
  width: 100%;
  text-align: center;
  font-size: larger;
  text-decoration: none;
  color: #114054;
}

@media screen and (max-width: 992px){
  .chapters_central-div{
    max-width: none;
  }
}

@media screen and (max-width: 500px) {
  .chapters_central-div {
    width: 90%;
    max-width: none;
  }
}

.AddChapterButtonContainer {
  display: flex;
  height: 15%;
  justify-content: center;
  padding: 3px;
  margin-top: auto;
}


.AddChapterButton:hover {
  background-color: white;
  color: #114054;
}
