.viewCoursesContainer {
  border: solid 2px #114054;
  border-radius: 25px;
  background-color: rgba(46, 109, 124, 0.4);
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2),
    -5px -5px 20px rgba(255, 255, 255, 0.5);
}

.CoursesList {
  width: 100%;
  height: 100%;
  margin-top: 25px;
  padding: 30px;
  gap: 10px;
}

.CoursesList .CourseLine p {
  margin-bottom: 0;
}

.CourseLine {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #e8e9ea;
  padding: 10px;
  padding-right: 0;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 25px;
}

.viewCoursesButtons {
  width: 250px;
  cursor: pointer;
  padding: 15px 10px;
  border: 0;
  border-radius: 18px;
  background-color: #114054;
  color: #e8e9ea;

}

.CourseName {
  height: 100%;
  font-size: 20px;
  background-color: #e8e9ea;
  color: #114054;
  width: 100%;
}

.ENbuttons {
  max-width: 50px;
  max-height: 50px;
}

.ENicons {
  width: 50px;
  height: 50px;
  object-fit: contain;
  background-color: #114054;
}
.ENicons:hover {
  border: solid 2px white;
}

.CourseLine a:link,
.CourseLine a:visited {
  text-decoration: none;
  color: #114054;
}

.Buttons:hover {
  background-color: #e6e4e4;
  cursor: pointer;
  color: #114054;
}

.courseCheckbox {
  display: none;
  transform: scale(1.5);
  margin-right: 10px;
  accent-color: #114054;
}

#confirmB:disabled {
  background-color: grey;
  cursor: not-allowed;
}

@media screen and (max-width: 992px) {
  .button-container{
    padding: 0 20px;
    justify-content: space-between;
  }

  .viewCoursesButtons{
    width: 150px;
    padding: 10px 5px;
  }

  .CourseName {
    font-size: 17px;
  
  }
  
}

@media only screen and (max-width: 576px){
  .CoursesList{
    padding: 30px 5px;
  }
  .CourseLine{
    height: 40px;
    padding: 10px 5px;
    padding-right: 0;
  }
 .ENicons{
    max-height: 40px;
    max-width: 40px;
  }
  .CourseName{
    font-size: 15px;
    text-align: left;
  }
}


@media only screen and (max-width: 400px) {

  .viewCoursesButtons{
    width: 110px;
    padding: 10px 2px;
    font-size: 13px ;
  }
}
