.course-title {
  text-align: center;
}

.Notes_central-div {
  max-width: 1000px;
  height: 400px;
  padding: 20px 10px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgba(46, 107, 122, 0.4);
  border-color: #114054;
}

.chaptersContainer {
  width: 100%;
  height: 60%;
}

.down-part {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allRectangles{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.Notesrectangle {
  background-color: #e8e9ea;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35px;
  transition: 0.4s ease-in-out;
  color: #114054;
}

.Notesrectangle:hover{
  box-shadow: 2px 2px 5px 5px #11405486;
  cursor: pointer;
}

.Notesrectangle a{
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: inherit;
}


.chapterNotesTitle {
  width: fit-content;
  text-align: center;
  margin: auto;
  font-size: larger;
}


